@{
    ViewData["Title"] = Phonebook.Resources.Resources.Account_AccessDenied_Title;
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
	<p class="text-danger">@Phonebook.Resources.Resources.Account_AccessDenied_Msg</p>
</header>
