@{
    ViewData["Title"] = Phonebook.Resources.Resources.Account_ForgotPasswordConfirmation_Title;
}

<h2>@ViewData["Title"]</h2>
<p>
    @Phonebook.Resources.Resources.Account_ForgotPasswordConfirmation_Msg
</p>
