@{
    ViewData["Title"] = Phonebook.Resources.Resources.Account_Lockout_Title;
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
	<p class="text-danger">@Phonebook.Resources.Resources.Account_Lockout_Msg</p>
</header>
