@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    @Phonebook.Resources.Resources.Account_ResetPasswordConfirmation_Msg1_1 
	<a asp-action="Login">@Phonebook.Resources.Resources.Account_ResetPasswordConfirmation_Msg1_2</a>.
</p>
